In [2]:
import sys
sys.path.append("../")
from sales import data_holder, data_info, common, feature_engineering
import pandas as pd

In [3]:
data = pd.read_csv('../data/data sales csv/sales_data.csv', delimiter=',')
data_holder.set_data(data)
data_info.preview()

Data shape:  (1162971, 29)

,FechaFactura,mes,business_unit,team,category,class,gender,tipo_producto,sku,cc,...,CURRENCYCODE,AfectoFinal,CantVendida,Promedio de Mg,product_name,familia(collection),Rut_Cliente,Año,Semana,Season_fecha
0,08-02-2023,2,NaN,NaN,NaN,NaN,NaN,NaN,DESPACHO,NaN,...,CLP,$2.479,1,100%,NaN,NaN,10530209-6,2023,6,SP22
1,08-02-2023,2,NaN,NaN,NaN,NaN,NaN,NaN,DESPACHO,NaN,...,CLP,$0,1,NaN,NaN,NaN,13620253-7,2023,6,SP22
2,08-02-2023,2,NaN,NaN,NaN,NaN,NaN,NaN,DESPACHO,NaN,...,CLP,$0,1,NaN,NaN,NaN,15170047-0,2023,6,SP22
3,08-02-2023,2,NaN,NaN,NaN,NaN,NaN,NaN,DESPACHO,NaN,...,CLP,$0,1,NaN,NaN,NaN,15327358-8,2023,6,SP22
4,08-02-2023,2,NaN,NaN,NaN,NaN,NaN,NaN,DESPACHO,NaN,...,CLP,$3.319,1,100%,NaN,NaN,16711666-3,2023,6,SP22

In [4]:
data_info.duplicates()
data_holder.delete_duplicates()
data_info.duplicates()

Duplicates in Data set: 2602,(0.22%)
Duplicates in Data set: 0,(0.0%)

In [5]:
data_holder.remove_rows_by_values(['sku'], ['DESPACHO'])
data_holder.remove_rows_by_values(['sku'], ['ENVIO'])
data_info.preview()

Data shape:  (1075322, 29)

,FechaFactura,mes,business_unit,team,category,class,gender,tipo_producto,sku,cc,...,CURRENCYCODE,AfectoFinal,CantVendida,Promedio de Mg,product_name,familia(collection),Rut_Cliente,Año,Semana,Season_fecha
16,08-02-2023,2,LIFE OUTDOORS,M S SPORTSWEAR,TOPS,S/S TOPS,MENS,CAMISAS,42245CYPIM,42245CYPI,...,CLP,$32.773,1,68%,M S DAILY SHIRT,OTROS,19061589-8,2023,6,SP22
17,08-02-2023,2,LIFE OUTDOORS,W S SPORTSWEAR,BOTTOMS,PANTS,WOMENS,PANTALONES,56566WWIBS,56566WWIB,...,CLP,$41.176,1,69%,W S GARDEN ISLAND PANTS,OTROS,9194419-7,2023,6,SP22
18,08-02-2023,2,MOUNTAINS,ALPINE,OUTERWEAR,OUTERWEAR JACKETS,MENS,IMPERMEABLES,85240BLKM,85240BLK,...,CLP,$104.202,1,64%,M S TORRENTSHELL 3L JKT,TORRENTSHELL,16923253-9,2023,6,SP22
19,08-02-2023,2,MOUNTAINS,ALPINE,OUTERWEAR,OUTERWEAR JACKETS,MENS,PARKAS,84701CNYL,84701CNY,...,CLP,$60.252,1,3%,M S DOWN SWEATER HOODY,DOWN SWEATER,19133957-6,2023,6,SP22
20,08-02-2023,2,MOUNTAINS,ALPINE,TOPS,MIDLAYER JACKETS,MENS,CHAQUETAS,83580BLKL,83580BLK,...,CLP,$91.597,1,65%,M S R1 TECHFACE JKT,TECHFACE,16711666-3,2023,6,SP22

In [6]:
df = data_holder.get_data()
df = df[df['CantVendida'] > 0]
data_holder.set_data(df)

In [7]:
data_holder.remove_columns_by_features([
       'FechaFactura', 'sku', 'TiendaDim',
       'CostoTotal', 'AfectoFinal', 'CantVendida',
])
data_info.preview()

Data shape:  (983106, 6)

   FechaFactura         sku  TiendaDim CostoTotal AfectoFinal  CantVendida
16   08-02-2023  42245CYPIM  Ecommerce    $10.496     $32.773            1
17   08-02-2023  56566WWIBS  Ecommerce    $12.740     $41.176            1
18   08-02-2023   85240BLKM  Ecommerce    $37.794    $104.202            1
19   08-02-2023   84701CNYL  Ecommerce    $58.591     $60.252            1
20   08-02-2023   83580BLKL  Ecommerce    $32.175     $91.597            1

In [8]:
data_holder.rename_columns({'FechaFactura': 'date',
                    'TiendaDim': 'warehouse',
                    'CostoTotal': 'cost',
                    'AfectoFinal': 'price', 
                    'CantVendida': 'quantity',
                    })
data_info.preview()

Data shape:  (983106, 6)

          date         sku  warehouse     cost     price  quantity
16  08-02-2023  42245CYPIM  Ecommerce  $10.496   $32.773         1
17  08-02-2023  56566WWIBS  Ecommerce  $12.740   $41.176         1
18  08-02-2023   85240BLKM  Ecommerce  $37.794  $104.202         1
19  08-02-2023   84701CNYL  Ecommerce  $58.591   $60.252         1
20  08-02-2023   83580BLKL  Ecommerce  $32.175   $91.597         1

In [9]:
data_holder.group_data(['date', 'sku', 'warehouse'], {'cost' : 'max', 'price' : 'max', 'quantity' : 'sum'})
data_info.preview()

Data shape:  (920967, 6)

         date           sku  warehouse     cost     price  quantity
0  01-01-2019  38100OPICALL  Ecommerce   $3.287   $17.647         1
1  01-01-2019     45641BLKM  Ecommerce   $6.894   $24.370         1
2  01-01-2019    88440BLKMS  Ecommerce  $97.025  $117.647         1
3  01-01-2020     22990NKLL  Ecommerce  $19.211   $41.176         1
4  01-01-2020  28756PABLALL  Ecommerce   $4.739   $20.168         1

In [10]:
data_holder.get_data().dtypes

date         object
sku          object
warehouse    object
cost         object
price        object
quantity      int64
dtype: object

In [12]:
pd.to_datetime(data_holder.get_data()['date']).max()

C:\Users\Enrique Urrutia\AppData\Local\Temp\ipykernel_16056\4283647381.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  pd.to_datetime(data_holder.get_data()['date']).max()

Timestamp('2023-12-01 00:00:00')